@charset UTF-8;
/*
Styles for Plugin WP Losung SQL

Author: Thomas Arend
Date: 01.01.2019
Version 2019.0
*/

tahhl_losungstext {
 
    color: green;
    text-align: right;
 
}

tahhl_losungstextvers, tahhl_lehrtextvers {
 
    color: blue;
    text-align: right;
 
}
